<section dir="auto" class="section"{% if component.background_color %} style="background-color: {{ component.background_color }};"{% endif %} data-spacing-top="{{ component.spacing_top ? 'true' : 'false' }}" data-spacing-bottom="{{ component.spacing_bottom ? 'true' : 'false' }}">
  <div class="container">
    <div class="newsletter">
      {% if component.title %}
        <h2 class="newsletter__title" id="newsletter-title" style="font-size: {{ component.title_font_size }}px; color: {{ component.title_color }};">{{ component.title }}</h2>
      {% endif %}
      {% if component.subtitle %}
        <p class="newsletter__subtitle" style="color: {{ component.subtitle_color }}; font-size: {{ component.subtitle_font_size }}px;">{{ component.subtitle }}</p>
      {% endif %}
      {% if component.show_button %}
      <form class="newsletter__form" onsubmit="event.preventDefault();showToast('شكراً لانضمامك!')"{% if component.button_link %} action="{{ component.button_link }}"{% endif %}>
        <input aria-label="البريد الإلكتروني" placeholder="بريدك الإلكتروني" required="" type="email"/>
        <button class="btn btn-primary" type="submit" style="background-color: {{ component.button_bg_color }}; color: {{ component.button_color }};">{{ component.button_text }}</button>
      </form>
      {% endif %}
    </div>
  </div>
  {% if component.background_image %}
  <style scoped>
    .section {
      background-image: url('{{ component.background_image }}');
    }
  </style>
  {% endif %}
</section>